[submodule "fdupes"]
	path = fdupes
	url = git@github.com:tobiasschulz/fdupes.git
[submodule "shellcheck"]
	path = shellcheck
	url = https://github.com/koalaman/shellcheck.git
[submodule "git-extras"]
	path = git-extras
	url = git@github.com:visionmedia/git-extras.git
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell
